<h2>Select one of the following links</h2>

<h3><%= link_to 'Edit your profile', edit_house_hunter_registration_path(current_house_hunter) %></h3>
<br>
<h3><%= link_to 'View Houses', houses_path %></h3>
<br>
<h3><%= link_to 'View your inquiries', inquiries_path %></h3>
<br>
<h3><%= link_to 'View Real Estate Companies', recompanies_path %></h3>
<br>